body::after {
	background-image: url(../images/yaghoob.jpg);
	
	background-repeat: repeat-y;
	background-size: 100%;
	background-position-y: 100px;
	width: 100%;
	min-width: 600px;
	content: '';
	opacity: 0.21;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

.header-class {
	margin: auto;
	width: 100%;
	height: 50px;
	background-color: white;
	min-width: 600px;
}

.header-class h1 {
	margin-left: 36%;
	text-align: center;
	display: inline-block;
	font-size: 64px;
}

.header-class img {
	position: absolute;
	width: 140px;
	height: 140px;
	background-color: Black;
	-webkit-filter: invert(1);
	filter: invert(1);
}
.imagediv{
background-image: image("images/yaghoob.jpg");

position:absolute;

}
.contentimage {

	opacity: 60%; width: 100%;
	background-repeat: repeat-y;
}

.main-contents {
	margin-top: 15%;
	display: block;
	position:absolute;
	width:100%;
}

.main-contents p {
	margin-left: 20px;
	max-width: 380px;
	
}

.main-contents a {
	margin-left: 24px;
	color:black;
	font-size: x-small;
	
}

.menu {
	width:5%;
	text-align: justify;
	font-family:sans-serif;
	 color:white;
	 float: left; 
	 margin-right: 20px;
	 
	
}


.menu li a {
	color: black;
	text-decoration: none;
	
}

.welcome {
	
	text-align: justify;
	font-family:sans-serif;
	 color: rgb(68, 68, 68); 
	 float: left; 
	 margin-left: 50px;
}

.services {
	
	margin-top: 20px;
	font-family:sans-serif;
	 color: rgb(68, 68, 68);
	float: left;  
	margin-left: 80px;
	

}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	color:white
	font-size: 25px;

	
  }



 li {
	
	border-radius: 3px;
	
	box-shadow: 1px 1px 0px 1px gray;
	margin-bottom: 13px;
	width: 80px
	
  }

  li:hover {
	 

	background-color: rgb(168, 168, 168);
  }




 


@media only screen and (max-width: 944px)  {


	.imagediv{

		position:absolute;
		margin:left;
		}


	.welcome {

		font-family:sans-serif; color: rgb(68, 68, 68); 
		display: block;
	}
	
	.services {
	float: left;
	margin-left:100px
	
			
	}




	.main-contents {
		font-size: small;
		position:relative;
		margin-top: 60px;
		
		
	}

	.main-contents h1 {
		font-size: 26px;
		
	}

	.header-class h1 {
		margin-left: 36%;
		text-align: center;
		display: inline-block;
		font-size: 36px;
	}

	.header-class img {
		position: absolute;
		width: 80px;
		height: 80px;
		background-color: Black;
		-webkit-filter: invert(1);
		filter: invert(1);
	}

	.header-class {
		margin: auto;
		width: 100%;
		height: 100px;
		background-color: white;
		min-width: 600px;
	}
	.header-class h1 {
		margin-left: 100px;
	}





}