.header-class {
	margin: auto;
	width: 100%;
	height: 120px;
	background-color: white;
	min-width: 400px;
}

.header-class h1 {
	margin-left: 36%;
	text-align: center;
	display: inline-block;
	font-size: 64px;
}

.header-class img {
	position: absolute;
	width: 120px;
	height: 120px;
	background-color: Black;
	-webkit-filter: invert(1);
	filter: invert(1);
}

.contentimage {
	opacity: 60%;
	width: 100%;
	background-repeat: repeat-y;
}

.main-contents::after {
	background-image: url(../images/yaghoob.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
	min-width: 700px;
	min-height: 700px;
	content: '';
	opacity: 0.5;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

.main-contents {
	margin-top: 4px;
	display: block;
	position: absolute;
	width: 100%;
}

.main-contents p {
	margin-left: 20px;
	max-width: 380px;
}

.main-contents a {
	margin-left: 4px;
	font-size: x-small;
}

.main-contents h1 {
	font-size: 26px;
}

.welcome {
	margin-top: 5%;
	text-align: justify;
	font-family: sans-serif;
	color: rgb(68, 68, 68);
	float: left;
	padding-left: 50px;
	min-width: 360px;
}


.table-div {
	width: 80%;
	display: inline-block;
}

.talbe-div table,
th,
td {
	border: 1px solid black;
}

div.menu {
	margin-top: 10%;
	width: 15%;
	min-width: 100px;
	text-align: justify;
	font-family: sans-serif;
	color: white;
	float: left;
	margin-right: 20px;
}

.contacts {
	
	text-align: justify;
	font-family:sans-serif;
	 color: rgb(68, 68, 68); 
	 float: left; 
	 margin-left: 30%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: white;
}

div.menu ul li {
	margin: 6px;
	border-radius: 3px;
	box-shadow: 1px 1px 0px 1px gray;
	min-width: 120px;
}

div.menu ul li a {
	color: black;
	text-decoration: none;
	font-size: 12px;
}

div.menu ul li a:hover {
	color: Red;
	text-decoration: none;
	font-size: 14px;
}

div.menu ul li:hover {
	background-color: rgb(168, 168, 168);
	text-decoration: underline;
}

@media only screen and (max-width: 700px) {
	.main-contents::after {
		background-repeat: repeat-y;
	}

	.welcome {
		color:black;
		margin-top: 5%;
		font-family: sans-serif;
		color: rgb(68, 68, 68);
		display: block;
	}

	.welcome a{
		color: black;
		font-size: 20px;
	}

	.main-contents {
		font-size: small;
		margin-top: 4px;
	}

	.main-contents h1 {
		font-size: 20px;
	}

	.header-class h1 {
		margin-left: 36%;
		text-align: center;
		display: inline-block;
		font-size: 36px;
	}

	.header-class img {
		position: absolute;
		width: 80px;
		height: 80px;
		background-color: Black;
		-webkit-filter: invert(1);
		filter: invert(1);
	}

	.header-class {
		height: 100px;
	}
	.header-class h1 {
		margin-left: 100px;
	}

	div.menu {
		margin: 4px;
	}

	div.menu ul {
		display: -webkit-box;
	}
}
